@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Lobster+Two:ital@1&family=Parisienne&family=Suez+One&display=swap');
/**font-family: 'Balthazar', serif;
font-family: 'Lobster Two', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Suez One', serif; **/


body{
    background-color:#f0f6ff;
    font-family: 'Balthazar', serif;

}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.container{
    position: absolute;
    top: 50px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 500px;
    height: 400px;
    border: black;
    box-shadow: 0 5px 30px 10px rgba(0,0,0,0.4);
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

label{
    position: relative;
    bottom: 3px;
    margin: 10px;
    font-size: 30px;
}

input{
    width: 100%;
    height: 34px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

button{
    width: 30%;
    height: 50px;
    margin: 20px;
    cursor: pointer;
    border-radius: 2px solid black;
    font-size: 30px;
    font-family: 'Balthazar', serif;

}

@media screen and (max-width:768px){
    .container{
        width: 300px;
        height: 500px;
    }
}