body{
    background-color:#f0f6ff;
    font-family: 'Balthazar', serif;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.donate-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin: 20px;
    
    width: 500px;
    
    box-shadow: 0 5px 30px 10px rgba(0,0,0,0.4);
    
}
label{
    font-size: 30px;
    margin-bottom:10px ;
    
    
}


input{
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;

}
textarea{
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;

}
button{
    width: 30%;
    height: 50px;
    margin: 20px;
    cursor: pointer;
    border-radius: 2px solid black;
    font-size: 30px;
    font-family: 'Balthazar', serif;

}

@media screen and (max-width:768px){
    .donate-data{
        width: 300px;
    }
    input{
        width: 200px;
        height: 20px;
    }
    label{
        font-size: 20px;
    }
    button{
        width: 35%;
        font-size: 20px;
    }
    textarea{
        width: 200px;
        height: 30px;
    }
}
