@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Lobster+Two:ital@1&family=Parisienne&family=Suez+One&display=swap');
/**font-family: 'Balthazar', serif;
font-family: 'Lobster Two', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Suez One', serif; **/
body{
    background-color:#f0f6ff;
    font-family: 'Balthazar', serif;

}



.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
}

.sign-up{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    font-size: 50px;
}


.login .login-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin: 20px;
    
    width: 500px;
    height: 300px;
    box-shadow: 0 5px 30px 10px rgba(0,0,0,0.4);
    
}


.sign-up  .sign-up-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    margin: 20px;
    
    width: 500px;
    box-shadow: 0 5px 30px 10px rgba(0,0,0,0.4);
    
}

label{
    font-size: 30px;
    margin-bottom:10px ;
    
    
}

input{
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;

}
textarea{
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;

}

button{
    width: 30%;
    height: 50px;
    margin: 20px;
    cursor: pointer;
    border-radius: 2px solid black;
    font-size: 30px;
    font-family: 'Balthazar', serif;

}


@media screen and (max-width:768px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .login{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 400px;
    }
    
    .sign-up{
        display: flex;
        flex-direction: column;
    }
    
    h1{
        text-align: center;
        font-size: 30px;
    }

    .login .login-data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: gray;
        margin: 20px;
        
        width: 280px;
        height: 300px;
        box-shadow: 0 5px 30px 10px rgba(0,0,0,0.4);
        
    }

    .sign-up  .sign-up-data{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: gray;
        margin: 20px;
        
        width: 300px;
        box-shadow: 0 5px 30px 10px rgba(0,0,0,0.4);
        
    }

    
input{
    width: 200px;
    height: 20px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 3px;

}
textarea{
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;

}
button{
    width: 40%;
}
    
    

}